<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<!-- specified in UI code
		<add key="serilog:minimum-level" value="Information" />
		-->
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
		<add key="serilog:write-to:RollingFile.pathFormat" value=".\SpeckleGSA-{Date}.txt"/>
		<add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10"/>
		<add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} {SourceContext}{NewLine}{Exception}"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.14.520" newVersion="1.1.14.520"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.14.520" newVersion="1.1.14.520"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2422" newVersion="4.0.0.2422" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.2422" newVersion="2.0.0.2422" />
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
